mixin catItem(type, image, name, about, price, oldPrice)
    li(class="goods__item " +type)
        picture.goods__frame
            source(srcset="static/images/content/" +image +".webp" type="image/webp")
            img(src="static/images/content/" +image +".png" alt="" +name).goods__frame-image
        .goods__body
            h3.goods__name=name
            p.goods__about=about
        ul.goods__info
            li.goods__price
                b=price +'₽'
            li.goods__price
                b=oldPrice +'₽'
                span замена баллона
        button(type="button").goods__order Заказать
