.popup-order
    .popup-order__wrapper
        button(type="button").popup-order__closer
        
        p.popup-order__description Для быстрого заказа закиси азота звоните по телефону нашим операторам!
        a(href="tel:+79123456789" target="_self").popup-order__link +7 912 345-67-89
        span.popup-order__note *во избежание получения подделок или газа низкого качества с недоливом оформляйте заказ только через оператора, а не напрямую через курьеров
