.social
    .social__body
        button(type="button").social__opener
            i.far.fa-comment-alt
        ul.social__list
            li.social__item
                a(href="#" target="_blank").social__link.social__link--wa
                    i.fab.fa-whatsapp
            li.social__item
                a(href="#" target="_blank").social__link.social__link--tg
                    i.fab.fa-telegram-plane
            li.social__item.last
                button(type="button").social__closer
