.goods {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 0 1.25rem;

    margin-bottom: 2rem;

    &--catalog {
        padding-top: 2rem;
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.25rem;
        grid-row-gap: 1.25rem;
        justify-content: start;
        align-items: stretch;
    }

    &__item {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        background: linear-gradient(to bottom, rgba(36, 36, 36, 1) 0%, rgba(13, 13, 13, 1) 100%);

        border-radius: 10px;

        padding: 1.25rem 0.625rem;

        &.singlePrice {
            .goods__price:nth-child(2) {
                display: none;
            }
        }
    }

    &__frame {
        @include flex-setting(column, center, center);
        width: 100%;
        min-height: 120px;
        overflow: hidden;
        margin-bottom: 1rem;

        &-image {
            max-height: 120px;
            max-width: 120px;
            object-fit: contain;
        }
    }

    &__body {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        margin-bottom: 0.5rem;
    }

    &__name {
        @include font-setting($primary-font, 0.8125rem, 1.222, 800, $bordo);
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    &__about {
        @include font-setting($primary-font, 0.6875rem, 1.222, 400, $white);
        text-align: left;
    }

    &__info {
        width: 100%;
        @include flex-setting(row, space-between, flex-start);
        margin-bottom: 1.25rem;
    }

    &__price {
        width: 50%;

        @include flex-setting(column, flex-start, flex-start);

        b {
            @include font-setting($primary-font, 0.875rem, 1, 800, $white);
        }

        span {
            @include font-setting($primary-font, 0.75rem, 1.2, 400, $white);
        }

        &:nth-child(2) {
            b, span {
                color: $gray;
            }
        }
    }

    &__order {
        width: 100%;
        padding: 0.625rem 0;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 1rem, 1, 800, $white);

        text-transform: uppercase;
        background-color: $bordo;
        border: 1px solid $bordo;
        border-radius: 5px;

        cursor: pointer;
        outline: none;

        margin-top: auto;
        margin-bottom: 0;

        &:hover,
        &:active {
            background-color: $white;
            color: $bordo;
            transition: 0.4s $cubic;
        }
    }
}

@include min-screen(720px) {
    .goods {
        padding: 0 2rem;
        margin-bottom: 4rem;

        &--catalog {
            padding-top: 4rem;
        }

        &__list {
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
        }

        &__item {
            padding: 2rem 2rem;
        }

        &__frame {
            min-height: 140px;
            margin-bottom: 2rem;

            &-image {
                max-height: 140px;
                max-width: 140px;
            }
        }

        &__body {
            margin-bottom: 1.25rem;
        }

        &__name {
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }

        &__about {
            font-size: 0.875rem;
        }

        &__price {
            b {
                font-size: 1.375rem;
            }

            span {
                font-size: 0.875rem;
            }
        }

        &__order {
            padding: 1rem 0;
            font-size: 1.125rem;
        }
    }
}

@include min-screen(1280px) {
    .goods {
        padding: 0;
        margin-bottom: 6.25rem;

        position: relative;
        z-index: 2;

        &::before {
            position: absolute;
            content: '';

            width: 524px;
            height: 861px;
            background-image: url('../images/content/smoke-large.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            left: 0;
            bottom: 0%;
            transform: translateY(-0%);

            z-index: -2;
            opacity: 0.5;
        }

        &::after {
            position: absolute;
            content: '';

            width: 524px;
            height: 861px;
            background-image: url('../images/content/smoke-large.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            right: 0;
            bottom: 0%;
            transform: rotate(180deg);

            z-index: -2;
            opacity: 0.5;
        }

        &__wrapper {
            max-width: 1170px;
        }

        &--catalog {
            padding-top: 4rem;
        }

        &__list {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1.875rem;
            grid-row-gap: 2.625rem;
            z-index: 10;
            position: relative;

            &::before {
                position: absolute;
                content: '';

                width: 256px;
                height: 234px;

                background-image: url('../images/content/clown-3.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: -16.875rem;
                top: 50%;
                transform: translateY(-50%);
            }

            &::after {
                position: absolute;
                content: '';

                width: 257px;
                height: 268px;

                background-image: url('../images/content/clown-4.png');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                right: -17.875rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__item {
            z-index: 10;
            padding: 1.75rem 0.9375rem 0.875rem 0.9375rem;
        }

        &__frame {
            min-height: 200px;
            max-height: 200px;
            margin-bottom: 1rem;

            padding-left: 0.3125rem;
            padding-right: 0.3125rem;

            &-image {
                max-height: 200px;
                max-width: 200px;
            }
        }

        &__body {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
            margin-bottom: 1.125rem;
        }

        &__name {
            font-size: 1.125rem;
            margin-bottom: 0.25rem;
        }

        &__price {
            b {
                font-size: 1.5rem;
            }
        }
    }
}
