.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @include flex-setting(column, center, center);
    backdrop-filter: blur(50px);

    z-index: 9999;
    display: none;
    
    &.active {
        display: flex;
    }

    &__wrapper {
        width: 90%;
        @include flex-setting(column, flex-start, flex-start);

        background-color: #1c1c1c;

        border-radius: 10px;

        padding: 1.25rem 1.25rem;

        position: relative;
    }

    &__closer {
        position: absolute;
        top: 1.25rem;
        right: 0.625rem;

        width: 28px;
        height: 28px;

        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='94.926' height='94.926' style='enable-background:new 0 0 94.926 94.926' xml:space='preserve'%3E%3Cpath d='M55.931 47.463 94.306 9.09a2.118 2.118 0 0 0 0-2.994L88.833.62a2.123 2.123 0 0 0-2.996 0L47.463 38.994 9.089.62c-.795-.795-2.202-.794-2.995 0L.622 6.096a2.117 2.117 0 0 0 0 2.994l38.374 38.373L.622 85.836a2.117 2.117 0 0 0 0 2.994l5.473 5.476a2.123 2.123 0 0 0 2.995 0l38.374-38.374 38.374 38.374c.397.396.937.62 1.498.62s1.101-.224 1.498-.62l5.473-5.476a2.118 2.118 0 0 0 0-2.994L55.931 47.463z' fill='%23fff'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 60%;
        border: none;

    }

    &__description {
        @include font-setting($primary-font, 1.125rem, 1.333, 300, $white);
        text-align: left;
        margin-bottom: 2rem;
    }

    &__link {
        @include font-setting($primary-font, 2rem, 1, 500, $white);
        text-decoration: none;

        margin-bottom: 2rem;
        transition: 0.4s $cubic;

        &:hover,
        &:active {
            color: $bordo;
            transition: 0.4s $cubic;
        }
    }

    &__note {
        @include font-setting($primary-font, 0.75rem, 1.333, 300, $gray);
        text-align: left;
    }
}

@include min-screen(1280px) {
    .popup-form {
        &__wrapper {
            max-width: 516px;
            padding: 2.75rem 2.75rem;
        }

        &__closer {
            top: 0.625rem;
            right: 0.625rem;
            background-size: 50%;
            cursor: pointer;
        }

        &__description {
            margin-bottom: 2.25rem;
        }

        &__link {
            font-size: 2.5rem;
            white-space: nowrap;
            margin-bottom: 2.25rem;
        }

        &__note {
            font-size: 0.875rem;
            max-width: 340px;
        }
    }
}
