include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body.body--item
		include ../modules/header/header
		main.main
			article.blog-item
				.blog-item__wrapper
					picture.blog-item__frame
						source(srcset="static/images/content/blog-image-1.webp" type="image/webp")
						img(src="static/images/content/blog-image-1.jpg" alt="blog-image-1").blog-item__frame-image
					.blog-item__body
						h2.blog-item__name Как лечат зубы детям с веселящим газом
						p Седацию закисью азота по праву можно считать лучшим выходом для и пациента, и для врача. В состоянии полудремы, в котором пребывает пациент после применения веселящего газа, врач-стоматолог может спокойно производить необходимые стоматологические мероприятия, а пациент при этом не будет чувствовать страха и тревоги.
						p Как происходит лечение зубов при использовании веселящего газа – предлагаем узнать дальше из нашего материала.
						b Что дает применение закиси азота
						p Наиболее актуальным применение веселящего газа считается в детской стоматологии. Именно маленькие пациенты так часто не хотят идти лечить зубы из-за страха перед неизвестным и различными неприятные ощущениями. 
						p Использование медицинской закиси азота позволяет производить метод поверхностной седации, при которой пациент не погружается полностью в сон, а остается в сознании, но при этом все тревоги и страхи уходят на задний план.
						p Применение веселящего газа в детской стоматологии при лечении зубов распространено во всем мире. Данная технология имеет не много противопоказаний и при этом достаточно безопасна для применения ее на детях.
						p Применяя метод седации в детской стоматологии, врачи получили возможность спокойно работать и делать за раз сразу несколько зубов. Если в обычном состоянии даже самый спокойный ребенок может выдержать в кресле от силы 10-15 минут, то применяя закись азота, маленькие пациенты выдерживают процедуру лечения зубов длиной в 40-50 минут.
						b Полезная информация о седации веселящим газом
						p Прежде чем отправится на стоматологическую процедуру с использованием закиси азота, рекомендуем узнать о ней немного больше. 
						p В первую очередь стоит сказать, что седация не заменит обезболивание. Действие газа конечно предполагает небольшое снятие болевых ощущений, однако не исключает необходимость применения локального обезболивания. 
						p Еще один важный момент – седация не равна наркозу. Закись азота широко применяется в хирургии в качестве ингаляционного наркоза, однако той концентрации вещества, которую используют в стоматологии для лечения зубов, недостаточно для введения пациента в состояние наркоза.
						p Действие вещества начинается сразу, после вдыхания – такая особенность веселящего газа. При этом также быстро газ выводится из организма. Врач должен очень внимательно рассчитать концентрацию вещества, чтобы одной ингаляции хватило на необходимый промежуток времени.
						p Использование веселящего газа не исключает положительной психологической обстановки во время проведения процедуры. Врач должен быть доброжелателен, а родители или другие люди сопровождающие ребенка, спокойны и настроены на положительный результат.
						p Веселящий газ имеет ряд определенных противопоказаний: не рекомендуется использовать его детям до четырехлетнего возраста, при заболеваниях психики, при ОРЗ, при некоторых неврологических расстройствах и заболеваниях ЛОР-органов.
						p Ограничения по возрасту связаны с тем, что седация предполагает возможность общения ребенка с врачом и возможность отвечать на некоторые вопросы, которые могут возникнуть во время проведения процедуры. Кроме этого, маленькие пациенты могут испугаться ингаляционной маски, при помощи которой происходит подача вещества, в то время как старшие дети лучше идут на контакт и соглашаются на проведение необходимой процедуры.
						p Обращаем ваше внимание, что для седации необходимо использовать только медицинский веселящий газ. Применение любого другого вида газа недопустимо. Медицинская закись азота имеет необходимые параметры очистки, определенную концентрацию и максимально безопасна при непосредственном вдыхании.
		include ../modules/footer/footer
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
