include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body
		include ../modules/header/header
		main.main
			section.blog
				.blog__wrapper
					h1.blog__title Статьи
					
					ul.blog__list
						li.blog__item
							a(href="blog-item.html" target="_self").blog__link
								picture.blog__frame
									source(srcset="static/images/content/blog-image-1.webp" type="image/webp")
									img(src="static/images/content/blog-image-1.jpg" alt="blog-name-1").blog__frame-image
								.blog__preview
									h2.blog__name Как лечат зубы детям с веселящим газом
									p.blog__description Седацию закисью азота по праву можно считать лучшим выходом для и пациента, и для врача. В состоянии полудремы, в котором пребывает пациент после применения веселящего газа, врач-стоматолог может спокойно производить необходимые стоматологические мероприятия, а пациент при этом не будет чувствовать страха и тревоги.
									p.blog__description Как происходит лечение зубов при использовании веселящего газа – предлагаем узнать дальше из нашего материала.
						li.blog__item
							a(href="#" target="_self").blog__link
								picture.blog__frame
									source(srcset="static/images/content/blog-image-2.webp" type="image/webp")
									img(src="static/images/content/blog-image-2.jpg" alt="blog-name-2").blog__frame-image
								.blog__preview
									h2.blog__name Принцип работы системы закиси азота
									p.blog__description Откуда вам известно действие вещества под названием закись азота? Возможно, вы болельщик гонок Drag racing или фанат серии фильмов Форсаж? Может быть вы увлечены компьютерными играми и не раз гоняли на гоночном авто в игре Жажда скорости? Как бы там ни было, если вы попали к нам на эту страницу, то наверняка хотите больше узнать о принципах действия системы закиси азота в двигателе автомобиля.
		include ../modules/footer/footer
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
