include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body.body--contacts
		include ../modules/header/header
		main.main
			section.contacts
				.contacts__wrapper
					h1.contacts__title Контакты
					
					.contacts__body
						.contacts__frame
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.928398020026!2d37.564137716400516!3d55.86390869088412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537a0a3351a23%3A0xa7dd702e29b97f4c!2z0JTRg9Cx0L3QuNC90YHQutCw0Y8g0YPQuy4sIDI1LCDQnNC-0YHQutCy0LAsIDEyNzU0MA!5e0!3m2!1sru!2sru!4v1636812924929!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy").contacts__map
						ul.contacts__info
							li.contacts__item
								b.contacts__name Телефон:
								a(href="tel:+79123456789" target="_self").contacts__link +7 912 345-67-89
							li.contacts__item
								b.contacts__name Адрес:
								p.contacts__text г. Москва, ул. Дубнинская, д 25
							li.contacts__item
								b.contacts__name Время работы:
								p.contacts__text Круглосуточно
		include ../modules/footer/footer
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
