include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body.body--delivery
		include ../modules/header/header
		main.main
			section.delivery
				.delivery__wrapper
					h1.delivery__title Доставка
					p.delivery__description Наша компания «Закись Ашота» предлагает своим клиентам быструю, качественную и круглосуточную доставку любых объемов пищевой закиси азота по Москве, а также газ с доставкой по Подмосковью. Среднее время доставки в пределах МКАД составляет около 30 минут и зависит от времени суток и загруженности улиц - наличия пробок. Время доставки за пределы МКАД уточняйте у операторов при заказе баллонов. По Москве в пределах МКАД и по области работает несколько десятков наших собственных курьеров, что заметно облегчает сам процесс доставки и делает его еще более быстрым. Очень быстрая доставка закиси азота в пределах МКАД - это наше преимущество, мы доставим Ваш заказ всего за 800 рублей, за 30 минут после звонка курьер уже позвонит в Вашу дверь! Даже экспресс доставка пиццы и то занимает больше времени. Данные условия действительны вне зависимости от времени суток и дня недели.
					b.delivery__subtitle ЗАКИСЬ АЗОТА С ДОСТАВКОЙ ПО МОСКВЕ И ПОДМОСКОВЬЮ
					p.delivery__description Доставка пищевой закиси азота по Москве и в Подмосковье осуществляется в нашей компании «Закись Ашота» собственными силами – курьерами на авто. Стоимость доставки в пределах МКАД составляет всего 800 рублей вне зависимости от объема заказа и времени суток, а за пределы МКАД к этой сумме прибавляется 50 рублей за километр пути по ближайшей дороге общественного пользования. Заказать можно как розничную, так и оптовую доставку газа пищевой закиси азота. Если Вы остались недовольны качеством товара, обслуживанием, или же Вам были навязаны услуги, цена не совпала с заранее озвученой - напишите нашему руководству напрямую нажав кнопку Пожаловаться здесь или внизу страницы. Не забудьте указать дату и время заказа, а также контакты для связи с Вами. Нам важно Ваше мнение!​ Оплата возможна банковской картой или с помощью сервиса Яндекс.Деньги, подробности у менеджеров.
		include ../modules/footer/footer
		include ../modules/blocks/social
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
