include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body
		include ../modules/header/header
		main.main
			section.law
				.law__wrapper
					h1.law__title Закон
					p.law__description Закись азота (N2O) известна многим россиянам под названием «веселящий газ». При вдыхании этого химического соединения возникает состояние, похожее на легкое алкогольное опьянение. Потребление закиси, таким образом, улучшает настроение, избавляет от депрессии, вызывает смех и дает возможность расслабиться.
					p.law__description Существует мнение, что «веселящий газ» оказывает воздействие, сходное с употреблением наркотических веществ. Это вызывает сомнения по поводу законности его распространения, приобретения и употребления. На самом деле, закись не вызывает никакой зависимости, полностью и без последствий выводится из организма через 5-10 минут после употребления и не оказывает остаточных негативных последствий. Следовательно, сравнивать его с наркотиками ни в коем случае нельзя.
					p.law__description Это полностью законный способ расслабиться, который оказывает меньшее негативное последствие на организм, чем алкоголь. Через короткое время после его употребления голова вновь становится свежей, мысли ясными. После вдыхания можно даже управлять транспортом, не опасаясь привлечения к ответственности за езду на автомобиле в состоянии опьянения.
					p.law__description Тем не менее некоторые нюансы в законодательстве, касающиеся использования закиси азота, все же есть. Чтобы окончательно внести ясность в эту картинку, остановимся на их рассмотрении подробнее.
					b.law__subtitle Законодательное регулирование оборота закиси
					p.law__description Законность распространения и использования N2O зависит от того, о каком типе газа идет речь. Существует три варианта:
					p.law__description Технический газ. Он используется только в промышленности и для повышения мощности двигателей внутреннего сгорания. Содержит большое количество дополнительных примесей, вследствие чего употребление его путем вдыхания опасно для здоровья и может вызвать летальный исход. Покупать его для участия в гонках или использования при проведении сварочных работ законно, употребление в качестве «веселящего газа» – категорически нет.
					p.law__description Медицинский газ. Представляет собой закись высокой концентрации, которая применяется медицинскими работниками для погружения человека в медикаментозный сон (наркоза). Она может вдыхаться только при смешивании в определенных пропорциях с кислородом, иначе употребление этого газа может вызвать асфиксию и другие негативные последствия. Законно продавать медицинскую закись можно только лечебным учреждениям, которые имеют соответствующую лицензию.
					p.law__description Пищевой газ. Используется для производства продуктов питания (например, пористого шоколада или взбитых сливок в баллончиках), а также употребляется как «веселящий газ» для поднятия настроения. Это вещество безвредно для здоровья и не вредит организму человека. Оно находится в свободном обороте, ограничений по покупке и использованию нет.
					p.law__description Так как закись азота не отнесена нормативными документами к категории наркотических средств (по причине безопасности для здоровья), ее использование не преследуется в уголовном порядке согласно статье 228 Уголовного кодекса нашей страны.
					p.law__description Обратите внимание, что пищевой является только смесь в концентрации не более 90% и не предназначенная для технических целей. Чтобы обезопасить себя от неприятностей, покупайте N2O у проверенных поставщиков, которые могут подтвердить качество закиси.
		include ../modules/footer/footer
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
