include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body
		include ../modules/header/header
		
		main.main
			section.intro
				.intro__wrapper
					.intro__info
						h1.intro__title Закись азота 
							span с&nbsp;доставкой
						p.intro__description Веселящий газ для ваших вечеринок с круглосуточной доставкой. Без выходных
						
						ul.intro__list
							li.intro__item
								b.intro__nr 1200+
								span.intro__text клиентов в Москве
							li.intro__item
								b.intro__nr 500 000
								span.intro__text Литров в месяц
							li.intro__item
								b.intro__nr 60
								span.intro__text Минут доставка
					picture.intro__frame
						source(srcset="static/images/content/intro-balls.webp" type="image/webp")
						img(src="static/images/content/intro-balls.png" alt="AZOT person").intro__frame-image
						
			section.goods
				.goods__wrapper
					.goods__offer.offer
						ul.offer__list
							li.offer__item
								h3.offer__name 3 баллона по&nbsp;3,5&nbsp;литра
								b.offer__price 6300 Р
								p.offer__description +бесплатная доставка*
								span.offer__note *по Москве в пределах МКАД
							li.offer__item
								h3.offer__name Специальная цена на баллон 3,5 литра
								p.offer__description При покупке любого баллона
						h2.offer__title 
							| Доставка 
							span 30 минут 
							| в пределах МКАД
					ul.goods__list
						+catItem('', 'goods-1', 'Баллон 3,5 литра', 'Газ N2O - 600гр  (пищевая закись азота)', '2500', '2400')
						+catItem('', 'goods-2', 'Баллон 2 литра', 'Газ N2O - 1300гр  (пищевая закись азота)', '4200', '3200')
						+catItem('', 'goods-2', 'Баллон 5 литров', 'Газ N2O - 2500гр  (пищевая закись азота)', '6200', '4200')
						+catItem('', 'goods-2', 'Баллон 10 литров', 'Газ N2O - 6000гр  (пищевая закись азота)', '13000', '6500')
						+catItem('singlePrice', 'goods-5', 'Насадка для баллона', 'Подходит на баллоны  2, 5 и 10 литров', '1000', '')
						+catItem('singlePrice', 'goods-6', 'Подставка под баллон', 'Подходит на баллоны  2, 5 и 10 литров', '1000', '')
						+catItem('singlePrice', 'goods-7', 'Сумка-переноска', 'Подходит на баллоны  3.5, 2, 5 и 10 литров', '2000', '')
						+catItem('singlePrice', 'goods-8', 'Попперсы в ассортименте', 'Для получения  новых эмоций', '1000', '')
			section.about
				.about__wrapper
					ul.about__list
						li.about__item
							h3.about__title Пищевая закись азота или веселящий газ
							p.about__description Закись азота - или веселящий газ как его еще называют в народе, это самый обычный пищевой оксид азота, который используется во многих сферах. Такие виды деятельности как автомобильное дело, профессиональные и уличные автогонки, стоматология, пищевая промышленность и собственно сфера развлечений – вот только краткий список сфер, где используется этот бесцветный газ с весьма интересными физическими и химическими свойствами. Открытый популярным ученым естественных наук доктором Джозефом Пристли еще более полутора веков назад - закись азота проявила свои седативные и развлекательные свойства, он сразу стал популярен у бомонда Европы, его использовали богатые молодые люди для развлечения. Долгое время газ пищевой закиси азота можно было продавать без контроля со стороны надзорных органов, в настоящий момент же оборот закиси азота в качестве «веселящего газа» ограничен, данное вещество могут официально приобрести только лишь компании и предприятия, то есть юридические лица для своих непосредственных нужд. А продажа пищевой закиси азота физическим лицам с целью ее дальнейшего употребления запрещена законом, то есть покупать ее и использовать как «веселящий газ» на официальном уровне запрещено.
								
						li.about__item
							h3.about__title Как применяется пищевая закись азота
							p.about__description Закись азота используется в пищевой промышленности как добавка Е942, которая необходима для сохранения овощей и фруктов дольше в первоначальной свежести, а также используется в кондитерском деле при производстве взбитых сливок. Она абсолютно безопасна, поэтому и при непреднамеренном вдыхании газа во время работы с ним нет неприятного привкуса – он сладковатый, газ не горюч, от него не возникает чувство першения в горле. Применение пищевой закиси азота в качестве «веселящего газа» наша компания крайне не рекомендует и газ в развлекательных целях не реализует.
								
						li.about__item
							h3.about__title Где купить закись азота в Москве круглосуточно
							p.about__description В связи с обилием точек продажи и компаний доставки нелегального «веселящего газа» в Москве стали появляться и компании, продающие дешевый контрафактный газ производства Китая, он непригоден для деятельности и может быть опасен для здоровья при работе с ним. Многие люди купив дешевый китайский газ для развлекательных целей получали отравление. К тому же при работе с пищевой закисью на предприятиях пищевой промышленности и на пищевых производствах поддельным китайским газом неоднократно получали отравление работники учреждений. Не стоит экономить на здоровье своих сотрудников – приобретайте только качественный, сертифицированный газ пищевой закиси азота, купить его можно с круглосуточной доставкой в компании.

							p.about__description Приобретайте только продукцию Череповецкого завода - единственного в России по производству сертифицированной закиси азота. Именно такой продукт и предлагает наша компания "Газ в маске". Купить газ круглосуточно в Москве можно, конечно, во многих компаниях, но не все предлагают быструю доставку и сертифицированный, качественный газ пищевой закиси азота. Наша компания «Газ в маске» может привезти Вам на выбор любые баллоны от 2 до 10 литров закиси азота всего за 30 минут в пределах МКАДа. Все без исключения баллоны будут запечатаны, а покупателю курьером по запросу могут быть предоставлены копии сертификатов. Газ пищевой закиси азота от «Газа в маске» - это гарантия хорошего качества и быстрой доставки, звоните нам по контактным телефонам ежедневно и круглосуточно.
								
						li.about__item
							h3.about__title Частые вопросы и ответы - FAQ
							p.about__description Ниже мы собрали самые популярные вопросы и ответы на них, которые слышим ежедневно. Если Вам необходимы краткие ответы на них – ознакомьтесь с данным списком.
							
							b.about__subtitle В каких емкостях продается газ?
							p.about__description Пищевая закись азота, как и любой другой газ хранится в баллонах, они могут быть высокого (2,5 и 10 литров) и низкого (3,5 литра) давления. Мы предлагаем на продажу только проверенные, исправные и полностью заправленные по ГОСТ баллоны газа пищевой закиси азота для производственных компаний.
								
							b.about__subtitle Как можно заправить свой баллон закисью азота?
							p.about__description Заправка баллонов газом осуществляется путем обмена Вашего пустого баллона на наш полный с доплатой. Курьер на месте произведет осмотр баллона и оформит обмен с доплатой. Все необходимые вопросы при обмене баллона у Вас уточнит оператор при заказе, это оптимальный способ экономить при заказе закиси азота.
		include ../modules/footer/footer
		include ../modules/blocks/popup-form
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
