// Colors
$white: #ffffff;
$black: #0d0d0d;
$bordo: #af2222;
$gray: #a2a2a2;
// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1000px;

// Fonts
$primary-font: 'Gotham Pro', sans-serif;

$text-black: $black;
$text-white: $white;

$menuItems: 7;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
