.nav {
    width: 100%;

    @include flex-setting(row, space-between, center);

    padding: 1rem 1.25rem;

    position: relative;

    &__logo {
        display: block;
        width: 118px;
        height: 28px;

        text-decoration: none;

        &-image {
            width: inherit;
            height: inherit;
            object-fit: contain;
        }
    }

    &__list {
        width: 100%;
        position: absolute;
        background-color: $black;

        @include flex-setting(column, flex-start, center);

        top: 3.75rem;
        left: 0;

        padding: 2rem 1.25rem;

        z-index: 2;

        min-height: 0;
        max-height: 0;
        padding: 0 1.25rem;

        overflow: hidden;
        pointer-events: none;

        transition: 0.4s $cubic;

        &.opened {
            top: 3.75rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            transition: 0.4s $cubic;
            max-height: 500px;
            pointer-events: all;

            .nav__item {
                pointer-events: auto;
                transform: scale(1) translateY(0px);
                will-change: transform;
                opacity: 1;

                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.06 * $i+0.2}s;
                    }
                }
            }
        }
    }

    &__item {
        @include flex-setting(column, flex-start, center);
        width: 100%;
        position: relative;

        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;

        margin-bottom: 1.25rem;

        @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
                transition-delay: #{0.56 - ($i * 0.07)}s;
            }
        }
    }

    &__link {
        @include font-setting($primary-font, 1.25rem, 1.2, 500, $white);
        text-decoration: none;
        transition: 0.4s $cubic;
        
        &:hover,
        &:active {
            color: $bordo;
            transition: 0.4s $cubic;
        }
    }

    &__tel {
        font-size: 0;
        display: block;
        width: 28px;
        height: 28px;

        margin-left: auto;
        margin-right: 1.25rem;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' xml:space='preserve'%3E%3Cg%3E%3Cg style='stroke:none;stroke-width:0;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:none;fill-rule:nonzero;opacity:1'%3E%3Cpath d='m38.789 51.211 10.876 10.876a3.122 3.122 0 0 0 3.684.543l13.034-6.997a3.12 3.12 0 0 1 3.07.066L88.47 66.984a3.113 3.113 0 0 1 1.268 3.933c-1.625 3.698-4.583 10.476-5.758 13.473-.247.631-.615 1.209-1.127 1.652-12.674 10.986-37.89-2.4-57.191-21.701C6.358 45.039-7.028 19.823 3.958 7.149c.444-.512 1.022-.88 1.652-1.127C8.606 4.847 15.385 1.889 19.083.264a3.113 3.113 0 0 1 3.933 1.268l11.285 19.017c.558.941.583 2.106.066 3.07L27.37 36.651a3.122 3.122 0 0 0 .543 3.684l10.876 10.876z' style='stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:%23fff;fill-rule:nonzero;opacity:1' transform='translate(1.964 1.964) scale(2.8008)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 80%;

        transition: 0.4s $cubic;
        cursor: pointer;

        &:hover,
        &:active {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' xml:space='preserve'%3E%3Cg%3E%3Cg style='stroke:none;stroke-width:0;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:none;fill-rule:nonzero;opacity:1'%3E%3Cpath d='m38.789 51.211 10.876 10.876a3.122 3.122 0 0 0 3.684.543l13.034-6.997a3.12 3.12 0 0 1 3.07.066L88.47 66.984a3.113 3.113 0 0 1 1.268 3.933c-1.625 3.698-4.583 10.476-5.758 13.473-.247.631-.615 1.209-1.127 1.652-12.674 10.986-37.89-2.4-57.191-21.701C6.358 45.039-7.028 19.823 3.958 7.149c.444-.512 1.022-.88 1.652-1.127C8.606 4.847 15.385 1.889 19.083.264a3.113 3.113 0 0 1 3.933 1.268l11.285 19.017c.558.941.583 2.106.066 3.07L27.37 36.651a3.122 3.122 0 0 0 .543 3.684l10.876 10.876z' style='stroke:none;stroke-width:1;stroke-dasharray:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;fill:%23af2222;fill-rule:nonzero;opacity:1' transform='translate(1.964 1.964) scale(2.8008)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            transition: 0.4s $cubic;
        }
    }

    &__toggle {
        display: block;
        cursor: pointer;
        position: relative;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 28px;
        height: 28px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='2' viewBox='0 0 28 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='2' fill='%23ffffff'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-size: 28px 2px;
        background-repeat: no-repeat;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $white;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.2s linear;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.2s linear;
        }

        &.opened {
            background-image: none;

            &::after,
            &::before {
                width: 28px;
                transition: 0.2s linear;
            }

            &::after {
                transform: translateX(-50%) rotate(45deg);
                top: 12px;
                transition: 0.2s linear;
            }

            &::before {
                transform: translateX(-50%) rotate(135deg);
                bottom: 14px;
                transition: 0.2s linear;
            }
        }
    }
}
