footer.footer
    .footer__wrapper
        a(href="index.html" target="_self").footer__link
            img(src="static/images/content/logo.png" alt="AZOT logo").footer__link-image
        .footer__info
            p.footer__description Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ. Сайт не пропагандирует употребление закиси азота.
            a(href="#" target="_blank").footer__policy Политика конфиденциальности
        span.footer__age 18+
